/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Hind+Vadodara:wght@300;400;500;600;700&family=Pavanam&display=swap');

/* Applying fonts to elements */
h1 {
  font-family: 'Didact Gothic', sans-serif;
}

h2 {
  font-family: 'Palanquin', sans-serif;
  color: #333A73;
}

body {
  font-family: 'Biryani', sans-serif;
  font-size: 20px; /* or any other size you prefer */
  background-color: #EEEDEB; /* other good bckgrnd colors: F7EFE5, E7E8D8 */
  color: #E76F51;
  margin: 0;
  padding: 0;
}

header {
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #337ab7;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

main > section {
  margin-bottom: 300px;
  border-bottom: 5px solid #FFC94A;
}

.logo {
  width: 100px;
  height: 90px;
  vertical-align: middle;
  opacity: 0.6;
}

section {
  display: block; /* Add this line */
  background-color: #E0F4FF; /* Separate borders */
  padding: 1em;
  border-collapse: separate; /* Separate borders */
  border-spacing: 20px; /* Add space between borders */
  border: 5px solid #FFC94A;
  text-align: center; /* Center text horizontally */
  margin: 0 auto; /* Center element horizontally */
  width: 60%; /* Set a width to center the element */
  color: #03262a ;
}

.justified-text {
  text-align: center;
  color: #000000;

}

.justified-text-2 {
  text-align: justify;
  color: #000000;
}

.embedded-images {
  display: block; /* or display: inline-block; depending on your layout */
  margin: 0 auto; /* center the image */
  max-width: 20%; /* ensure image doesn't overflow the container */
  height: auto; /* maintain aspect ratio */
}

img {
  width: 40%; /* sets image width to 50% of parent element's width */
  height: auto; /* maintains aspect ratio */
}

footer {
  padding: 1em;
  text-align: center;
  clear: both;
}

.spacer {
  height: 50px; /* Adjust the height to your liking */
}

.back-link {
  color: red; /* Make the link red to see if it's visible */
  text-decoration: none;
}
